@model DigiStoreWithMVC.Models.Item

@using (Html.BeginForm("StoreInventory", "Store", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
        <div class="row">
            <div class="col s12 m6">
                @Html.LabelFor(item => item.Name)
                @Html.EditorFor(item => item.Name)
                @Html.ValidationMessageFor(item => item.Name, "", new { @class = "red-text" })
            </div>
            <div class="col s12 m6">
                @Html.LabelFor(item => item.Description)
                @Html.EditorFor(item => item.Description)
                @Html.ValidationMessageFor(item => item.Description, "", new { @class = "red-text" })
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                @Html.LabelFor(item => item.Price)
                @Html.EditorFor(item => item.Price)
                @Html.ValidationMessageFor(item => item.Price, "", new { @class = "red-text" })
            </div>
            <div class="col s12 m6">
                @Html.LabelFor(item => item.Quantity)
                @Html.EditorFor(item => item.Quantity)
                @Html.ValidationMessageFor(item => item.Quantity, "", new { @class = "red-text" })
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                @Html.LabelFor(item => item.Weight, "Item Weight (kg)")
                @Html.EditorFor(item => item.Weight)
                @Html.ValidationMessageFor(item => item.Weight, "", new { @class = "red-text" })
            </div>
            <div class="col s12 m6">
                @*@Html.LabelFor(item => item.ImagePath)
                @Html.EditorFor(item => item.ImagePath)
                @Html.ValidationMessageFor(item => item.ImagePath, "", new { @class = "red-text" })*@
                <label for="picture">Upload Image Here</label>
                <input type="file" name="picture" id="picture" />
            </div>
        </div>
        <div class="row">
            <div class="col s2">
                <button class="btn btn-large valign waves-effect waves-light blue darken-3 yellow-text accent-3 col s2 m3" type="submit" name="submitSearch" style="padding:0; width:100%">
                    <span class="hide-on-med-and-down"><i class="material-icons right">library_add</i>Add Item</span>
                    <span class="hide-on-large-only"><i class="material-icons center">library_add</i></span>
                </button>
            </div>
        </div>
}