
@{
    ViewBag.Title = "Cart";
}
@using DigiStoreWithMVC.Models;
@{
    decimal s = 0;

}
<div class="container">
    <div class="section center">
        @if (Session["cartError"] != null)
        {
            <span class="red-text">@Session["cartError"]</span>
            Session["cartError"] = null;
        }
        @if (((List<nItem>)Session["cart"]).Count > 0)
        {
            <table cellpadding="2" cellspacing="2" border="1">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Sub total</th>
                    <th>Option</th>
                </tr>

                @foreach (nItem nitem in (List<nItem>)Session["cart"])
                {
                    s += (nitem.Ite.Price * nitem.Quantity);
                    <tr>
                        <td>@nitem.Ite.Name</td>
                        <td>@nitem.Ite.Price</td>
                        <td>@nitem.Quantity</td>
                        <td>@(nitem.Ite.Price * nitem.Quantity)</td>
                        <td>@Html.ActionLink("Remove", "Remove", "Store", new { id = nitem.Ite.Id }, null)</td>
                    </tr>
                }

                <tr>
                    <th align="right" colspan="5">Sum</th>
                    <td>@s</td>

                </tr>
            </table>
        }
        else
        {
            <h1>Your cart is empty.</h1>
        }
        @Html.ActionLink("Continue Shopping", "Map", new { controller = "Home", action = "Map" }, htmlAttributes: new { @class = "btn waves-effect blue darken-3 yellow-text accent-3" })
        @Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypal", "Paypal")
    </div>
</div>