@model DigiStoreWithMVC.Models.User

@{
    ViewBag.Title = "StorePage";
}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="container col s12">
                <div class="parallax-container">
                    <div class="parallax">
                        <img src="~/img/sample_store.jpg">
                    </div>
                </div>

                <div class="card-panel blue darken-3">
                    <h5 class="card-title yellow-text accent-3">Store Information</h5>
                    <div class="card-content row">
                        <div class="card col l6 m6 s12">
                            <div class="card-content">
                                <span class="card-title">Contact</span>
                              
                                @using (Html.BeginForm())
                                {
                                    <p>
                                        @Html.LabelFor(model => model.Address)
                                        @Html.DisplayTextFor(model => model.Address)
                                        <br />
                                        @Html.LabelFor(model => model.City)
                                        @Html.DisplayTextFor(model => model.City)
                                        <br />
                                        @Html.LabelFor(model => model.StateProv)
                                        @Html.DisplayTextFor(model => model.StateProv)
                                        <br />
                                        @Html.LabelFor(model => model.Country)
                                        @Html.DisplayTextFor(model => model.Country)
                                        <br />
                                        @Html.LabelFor(model => model.PostalCode)
                                        @Html.DisplayTextFor(model => model.PostalCode)
                                        <br />
                                        @Html.LabelFor(model => model.PhoneNumber)
                                        @Html.DisplayTextFor(model => model.PhoneNumber)
                                        <br />
                                        @Html.LabelFor(model => model.Email)
                                        @Html.DisplayTextFor(model => model.Email)
                                    </p>
                                }
                            </div>
                        </div>

                        <div class="card col l6 m6 s12">
                            <div class="card-content">
                                <span class="card-title">Store Hours</span>

                                @*@using (Html.BeginForm())
                                {
                                    <p>
                                        @Html.LabelFor(model => model.Monday)
                                        @Html.DisplayTextFor(model => model.Address)
                                        <br />
                                    </p>
                                }*@
                                <p>
                                    Monday: 9am - 5pm<br />
                                    Tuesday: 9am - 5pm<br />
                                    Wednesday: 9am - 5pm<br />
                                    Thursday: 9am - 5pm<br />
                                    Friday: 9am - 5pm<br />
                                    Saturday: 9am - 5pm<br />
                                    Sunday: 9am - 5pm<br />
                                </p>
                            </div>
                        </div>

                        <div class="card col l6 m6 s12">
                            <div class="card-content">
                                <span class="card-title">Rate this store</span>
                                <p class="range-field">
                                    Select a rating between 1 - 5.
                                    <input style="background-color: #1565c0" type="range" id="test5" min="1" max="5" />
                                </p>

                                @*
                                @using (Html.BeginForm())
                                {
                                    @Html.EditorFor(model => model.ReviewText, new { @id = "ReviewText", @type = "text", @class = "validate" })
                                    <button class="btn waves-effect waves-light blue darken-3 yellow-text accent-3" type="submit" name="submitButton">
                                        Submit<i class="material-icons right">send</i>
                                    </button>
                                        <p>@ViewBag.Message</p>
                                }
                                *@

                            </div>
                        </div>

                        <div class="card col l6 m6 s12">
                            <div class="card-content">
                                <span class="card-title">Reviews</span>
                                <p>Populated from Database.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-panel blue darken-3">
            <h5 class="card-title yellow-text accent-3">Products</h5>
            <div class="card-content row">

                @*
                    The below for loop is an example of our html generator. This style will allow
                    us to generate a list of products from our database while keeping the 
                    formatting (visual style) of our site.
                *@

                @for (int i = 0; i < 3; i++)
                {
                    <div class="card horizontal col s12 m6 l6">
                        <div class="card-image">
                            <img src="~/img/whitedressshirt.png" style="width: 125px">
                        </div>
                        <div class="card-stacked">
                            <div class="card-action">
                                Test Product
                            </div>
                            <div class="card-content">
                                <p>Description of Product.</p>
                            </div>
                            <p align="right">
                                <a class="waves-effect waves-light btn alan_button"><i class="material-icons">add_circle_outline</i></a>
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
