@model IEnumerable<DigiStoreWithMVC.Models.Item>

@if (Model.Count() > 0)
{
    <script>
        $("#goggleResults").show();
        $("#goggleMap").css("height", "60%");
        deleteMarkers();
    </script>

    foreach (DigiStoreWithMVC.Models.Item i in Model)
    {
        DigiStoreWithMVC.Models.Store store = i.Users.Where(u => u.Items.Contains(i)).FirstOrDefault().Store;
        <a href=@Url.Action("Index", "Store", new { storeName = @i.Name }) id="@store.Name)">
            <li class='collection-item blue darken-3 yellow-text accent-3'>
                @i.Name | @i.Price <br />
                @*@if (DateTime.Now.TimeOfDay <= @s.StoreHours.ToList().Find(h => h.DayOfTheWeek.Equals(DateTime.Now.DayOfWeek.ToString())).EndTime.TimeOfDay &&
                    DateTime.Now.TimeOfDay >= @s.StoreHours.ToList().Find(h => h.DayOfTheWeek.Equals(DateTime.Now.DayOfWeek.ToString())).StartTime.TimeOfDay)
                {
                    <p>Open! Today's Hours: @s.StoreHours.ToList().Find(h => h.DayOfTheWeek.Equals(DateTime.Now.DayOfWeek.ToString())).StartTime.TimeOfDay - @s.StoreHours.ToList().Find(h => h.DayOfTheWeek.Equals(DateTime.Now.DayOfWeek.ToString())).EndTime.TimeOfDay</p>
                }
                else
                {
                    <p>Closed! Today's Hours: @s.StoreHours.ToList().Find(h => h.DayOfTheWeek.Equals(DateTime.Now.DayOfWeek.ToString())).StartTime.TimeOfDay - @s.StoreHours.ToList().Find(h => h.DayOfTheWeek.Equals(DateTime.Now.DayOfWeek.ToString())).EndTime.TimeOfDay</p>
                }*@
            </li>
        </a>
        if (store.Address != null)
        {
            <script>
                var decodedName = $('<textarea/>').html("@store.Name").text();
                searchForAddress("@store.Address", decodedName);
            </script>
        }
    }
}
else
{
    <script>
        Materialize.toast("No results found!", 4000, "rounded");
    </script>
}