@model IEnumerable<DigiStoreWithMVC.Models.Store>

@if (Model.Count() > 0)
{
    <script>
        $("#goggleResults").show();
        $("#goggleMap").css("height", "60%");
        deleteMarkers();
    </script>

    foreach (DigiStoreWithMVC.Models.Store s in Model)
    {
        <a href=@Url.Action("Index", "Store", new { storeName = @s.Name }) id="@s.Name">
            <li class='collection-item blue darken-3 yellow-text accent-3'>
                @s.Name | | ID: @s.Id <br />
                @s.Address
            </li>
        </a>
        if (s.Address != null)
        {
            <script>
                var decodedName = $('<textarea/>').html("@s.Name").text();
                searchForAddress("@s.Address", decodedName);
            </script>
        }
    }
}
else
{
    <script>
        Materialize.toast("No results found!", 4000, "rounded");
    </script>
}