<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>@ViewBag.Title</title>
    <!-- Compiled and minified CSS -->
    @Styles.Render("~/Content/digistore")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>
<body>
    <nav class="blue darken-3" role="navigation">
        <div class="nav-wrapper container">
            @Html.ActionLink("DigiStore", "Index", "Home", htmlAttributes: new { @class = "brand-logo center yellow-text accent-3" })
            @*<a id="logo-container" href="Home.aspx" class="brand-logo center yellow-text accent-3">DigiStore</a>*@
            <ul class="right hide-on-med-and-down">
                <li>@Html.ActionLink("Home", "Index", "Home", htmlAttributes: new { @class = "yellow-text accent-3 new badge" })@*<a href="Home.aspx" class="yellow-text accent-3">Home</a>*@</li>
                <li>@Html.ActionLink("Search", "Map", "Home", htmlAttributes: new { @class = "yellow-text accent-3" })@*<a href="Map.aspx" class="yellow-text accent-3">Search</a>*@</li>
                @*<li>@Html.ActionLink("Fancy", "ShoppingCart", "", htmlAttributes: new { @class = "new badge" })</li>*@
               @*<li><a href="3"><i class="material-icons left">shopping_cart</i><span class="new badge">4</span></a></li>*@
                <li>
                    <a class="dropdown-button centered" href="#" data-activates="accountDropdown" style="height: 100%">
                        <img class="circle" src="~/img/icon.png" height="30" width="30" />
                    </a>
                </li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <h4 class="center blue-text darken-3">Menu</h4>
                <li>
                    <div class="divider"></div>
                </li>
                <li>@Html.ActionLink("Home", "Index", "Home")<!--<a href="Home.aspx">Home</a>--></li>
                <li>@Html.ActionLink("Search", "Map", "Home")@*<a href="Map.aspx">Search</a>*@</li>
                <li>@Html.ActionLink("Cart", "ShoppingCart", "Store")@*<a href="ShoppingCart.aspx">Cart</a>*@</li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>@Html.ActionLink("Manage Store", "StoreInventory", "Store")@*<a href="StoreInventory.aspx">Manage Store</a>*@</li>
                <li><a href="#">Order History</a></li>
                <li>@Html.ActionLink("Profile", "UserProfile", "Account")@*<a href="Profile.aspx">Profile</a>*@</li>
                <li><a href="#">Log In/Out</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul id="accountDropdown" class="dropdown-content">
                <li>@Html.ActionLink("Profile", "UserProfile", "Account")@*<a href="Profile.aspx">Profile</a>*@</li>
                <li>@Html.ActionLink("Cart", "ShoppingCart", "Store")@*<a href="ShoppingCart.aspx">Cart</a>*@</li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Log In/Out</a></li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <footer class="page-footer blue darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="yellow-text accent-3">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
                </div>
                <div class="col l3 m3 s12">
                    <h5 class="yellow-text accent-3">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 m3 s12">
                    <h5 class="yellow-text accent-3">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright blue darken-4">
            <div class="container yellow-text accent-3">
                <p>Made by Oceans4 | Powered by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a></p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/digistore")
    @RenderSection("scripts", required: false)
</body>
</html>