@model DigiStoreWithMVC.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="card">
    <div class="card-content">
        <span class="card-title">@ViewBag.Title</span>
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col s12 m6 l6 input-field">
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "red-text" })
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6 l6 input-field">
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "red-text" })
                </div>
                <div class="col s12 m12 l6 input-field">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "red-text" })
                </div>
                <div class="col s12">
                    <input type="submit" value="Change Password" class="btn waves-effect blue darken-3 yellow-text accent-3" />
                </div>
            </div>
        }
    </div>
</div>