@model DigiStoreWithMVC.Models.User
@{ 
    string[] countryNames = { "Afghanistan", "Albania", "Algeria", "American Samoa", "Angola", "Anguilla", "Antartica", "Antigua and Barbuda", "Argentina", "Armenia", "Aruba", "Ashmore and Cartier Island", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia and Herzegovina", "Botswana", "Brazil", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burma", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central African Republic", "Chad", "Chile", "China", "Christmas Island", "Clipperton Island", "Cocos (Keeling) Islands", "Colombia", "Comoros", "Congo, Democratic Republic of the", "Congo, Republic of the", "Cook Islands", "Costa Rica", "Cote d'Ivoire", "Croatia", "Cuba", "Cyprus", "Czeck Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Europa Island", "Falkland Islands (Islas Malvinas)", "Faroe Islands", "Fiji", "Finland", "France", "French Guiana", "French Polynesia", "French Southern and Antarctic Lands", "Gabon", "Gambia, The", "Gaza Strip", "Georgia", "Germany", "Ghana", "Gibraltar", "Glorioso Islands", "Greece", "Greenland", "Grenada", "Guadeloupe", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Heard Island and McDonald Islands", "Holy See (Vatican City)", "Honduras", "Hong Kong", "Howland Island", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Ireland, Northern", "Israel", "Italy", "Jamaica", "Jan Mayen", "Japan", "Jarvis Island", "Jersey", "Johnston Atoll", "Jordan", "Juan de Nova Island", "Kazakhstan", "Kenya", "Kiribati", "Korea, North", "Korea, South", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia, Former Yugoslav Republic of", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Man, Isle of", "Marshall Islands", "Martinique", "Mauritania", "Mauritius", "Mayotte", "Mexico", "Micronesia, Federated States of", "Midway Islands", "Moldova", "Monaco", "Mongolia", "Montserrat", "Morocco", "Mozambique", "Namibia", "Nauru", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Niue", "Norfolk Island", "Northern Mariana Islands", "Norway", "Oman", "Pakistan", "Palau", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Pitcaim Islands", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romainia", "Russia", "Rwanda", "Saint Helena", "Saint Kitts and Nevis", "Saint Lucia", "Saint Pierre and Miquelon", "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Scotland", "Senegal", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Georgia and South Sandwich Islands", "Spain", "Spratly Islands", "Sri Lanka", "Sudan", "Suriname", "Svalbard", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Tobago", "Toga", "Tokelau", "Tonga", "Trinidad", "Tunisia", "Turkey", "Turkmenistan", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "Uruguay", "USA", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Virgin Islands", "Wales", "Wallis and Futuna", "West Bank", "Western Sahara", "Yemen", "Yugoslavia", "Zambia", "Zimbabwe" };
    List<string> countries = new List<string>(countryNames);
}

<div class="col s12">
    <div class="card">
        <div class="card-content">
            <span class="card-title"><i class="material-icons">settings</i> General</span>
            <br />
            <p>
                @Html.HiddenFor(model => Model.Id)
                <span class="row">
                    <span class="col s6">
                        @Html.DisplayNameFor(model => Model.FirstName)
                        @Html.EditorFor(model => Model.FirstName, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = Model.FirstName, @id = "firstname" } })
                    </span>
                    <span class="col s6">
                        @Html.DisplayNameFor(model => Model.LastName)
                        @Html.EditorFor(model => Model.LastName, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = Model.LastName, @id = "lastname" } })
                    </span>
                </span>
            
                <span class="row">
                    <span class="col s12 m6">
                        @Html.DisplayNameFor(model => Model.Email)
                        @Html.EditorFor(model => Model.Email, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = Model.Email, @id = "email", @disabled = "disabled" } })
                    </span>
                    <span class="col s12 m6">
                        @Html.DisplayNameFor(model => Model.PhoneNumber)
                        @Html.EditorFor(model => Model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = Model.PhoneNumber, @id = "phoneNumber" } })
                    </span>
                </span>
                <span class="row">
                    <span class="col s12 m6">
                        @Html.DisplayNameFor(model => Model.Country)
                        @Html.DropDownListFor(model => Model.Country, new SelectList(countries.AsEnumerable()), new { @id = "country" })
                    </span>
                    <span class="col s12 m6">
                        @Html.DisplayNameFor(model => Model.Address)
                        @Html.EditorFor(model => Model.Address, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = Model.Address, @id = "address" } })
                    </span>
                </span>
                <span class="row">
                    <span class="col s6">
                        @Html.DisplayNameFor(model => Model.City)
                        @Html.EditorFor(model => Model.City, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = Model.City, @id = "city" } })
                    </span>
                    <span class="col s6">
                        @Html.DisplayNameFor(model => Model.StateProv)
                        @Html.EditorFor(model => Model.StateProv, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = Model.StateProv, @id = "stateprov" } })
                    </span>
                </span>
                <span class="row">
                    <span class="col s6">
                        @Html.DisplayNameFor(model => Model.PostalCode)
                        @Html.EditorFor(model => Model.PostalCode, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = Model.PostalCode, @id = "postalcode" } })
                    </span>
                    <input type="submit" value="Save Changes" class="col s12 waves-effect waves-light btn blue darken-3 yellow-text accent-3">
                </span>
</p>
        </div>
    </div>
</div>