@model DigiStoreWithMVC.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="card-content row">

                <div class="col s12 m12 l12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">@ViewBag.Title</span>
                            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    @Html.ValidationSummary("", new { @class = "red-text" })
                                    <div class="col s12 m6 l6 input-field">
                                        @Html.LabelFor(m => m.OldPassword)
                                        @Html.PasswordFor(m => m.OldPassword)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12 m6 l6 input-field">
                                        @Html.LabelFor(m => m.NewPassword)
                                        @Html.PasswordFor(m => m.NewPassword)
                                    </div>
                                    <div class="col s12 m12 l6 input-field">
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                        @Html.PasswordFor(m => m.ConfirmPassword)
                                    </div>
                                    <div class="col s12">
                                        @Html.ActionLink("Go Back", "Index", "Account", new { @class = "btn waves-effect blue darken-4 yellow-text" })
                                        <input type="submit" value="Change Password" class="btn waves-effect blue darken-3 yellow-text accent-3" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>