@model DigiStoreWithMVC.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="container">
<h2 class="center">@ViewBag.Title</h2>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            @Html.ValidationSummary("", new { @class = "red-text" })
            <div class="col s12 m6 l4 input-field">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </div>
            <div class="col s12 m6 l4 input-field">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </div>
            <div class="col s12 m6 l4 input-field">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <input type="submit" value="Change Password" class="col s12 m6 btn waves-effect blue darken-3 yellow-text accent-3" />
                @Html.ActionLink("Go Back", "Index", "Account", new { @class = "col s12 m6 btn waves-effect blue darken-4 yellow-text" })
            </div>
        </div>
    }
</div>