@model DigiStoreWithMVC.Models.PaymentMethod
@{
    ViewBag.Title = "Change Payment Info";
}
<div class="container">
    @using (Html.BeginForm("ChangePayment", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <h4 class="center">Payment Info</h4>
            <hr />
            <h4>@Html.ValidationSummary(true, "", new { @class = "col s12" })</h4>
            @Html.HiddenFor(model => model.Id)
        </div>
        <div class="row">
            <div class="col s12 m6 input-field">
                @Html.LabelFor(model => model.PaymentType)
                @Html.EditorFor(model => model.PaymentType, new { htmlAttributes = new { @class = "form-control", @text = ViewData["paymentType"], @placeholder = Model.PaymentType } })
                @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "red-text" })
            </div>
            <div class="col s12 m6 input-field">
                @Html.LabelFor(model => model.AccountNumber)
                @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @text = ViewData["accountNumber"], @placeholder = Model.AccountNumber } })
                @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "red-text" })
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" class="col s12 m6 btn waves-effect blue darken-3 yellow-text accent-3" />
            @Html.ActionLink("Go Back", "Index", "Account", new { @class = "col s12 m6 btn waves-effect blue darken-4 yellow-text goBack" })
        </div>
    }
</div>