@model DigiStoreWithMVC.Models.User
@{
    ViewBag.Title = Model.UserName + "'s Profile";
}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="section no-pad" id="index-banner">
                <h1 class="header center blue-text darken-3">@Model.UserName's Profile</h1>
            </div>
            <h4 class="center green-text">@TempData["resultMessage"]</h4>
            @{TempData["resultMessage"] = null; }
            <div class="row">
                <div class="card-panel blue darken-3">
                    <div class="card-content row">
                        @Html.Partial("_UserDetails", new DigiStoreWithMVC.Models.UserDetailsViewModel(Model))
                    </div>
                </div>
                <div class="card-panel blue darken-3">
                    <div class="card-content row">
                        @Html.Partial("_ChangePassword", new DigiStoreWithMVC.Models.ChangePasswordViewModel())
                    </div>
                </div>
                <div class="card-panel blue darken-3">
                    <div class="card-content row">
                        @Html.Partial("_ChangePayment", new DigiStoreWithMVC.Models.ChangePaymentViewModel(Model.PaymentMethods.FirstOrDefault()))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>