

@using DigiStoreWithMVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="container">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "row" }))
    {
        @Html.AntiForgeryToken()
        <div class="col s12">

            <br /><br /><br /><br />

            <div class="row">
                <div class="col s6 offset-s3"> @*Fix this later*@
                    <div class="card center"> 
                        <div class="card-content">
                            <span class="card-title">Login</span>
                            <div class="row">
                                @Html.ValidationSummary(true, "", new { @class = "col s12 red-text center" })
                            </div>
                            <div class="row">
                                <div class="input-field col s12" style="width:100%">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.EditorFor(m => m.Email, new { @placeholder = "example@email.com", @id = "email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "red-text" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12" style="width:100%">
                                    @Html.LabelFor(m => m.Password)
                                    @Html.EditorFor(m => m.Password, new { @placeholder = "hunter2", @id = "password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "red-text" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                    <input type="submit" value="Sign in" id="submitSignup" class="btn waves-light blue darken-3 yellow-text accent-3" style="width:100%" />
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <a class="blue-text darken-3" href="~/Account/ForgotPassword">Forgot Password?</a>
                            <a class="blue-text darken-3" href="~/Account/Register">Not a member? Sign up!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

